#!/bin/sh

# upstream server config
# Apache VE ID
VEID=193

# VE IP
APACHEHOST=192.168.3.$VEID;

# reserve server
APACHEHOST2=192.168.3.198;

#UPSTREAMNAME=$APACHEHOST:80

UPSTREAMNAME=sites80;

# Current host IP (nginx listen)
#LISTENIP=1.2.3.4

# /home dir for upstream servers
HOMEDIR=/var/lib/vz/home

# Techinical address bas
TECHHOST=site.example.com
